<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>TV Show {{all_shows.id}}</h1>
        <p>Title: {{all_shows.title}}</p>
        <p>Network: {{all_shows.network}}</p>
        <p>Description: {{all_shows.desc}}</p>
        <p>Release Date: {{all_shows.releasedate}}</p>
        <p>Last Update: {{all_shows.updated_at}}</p>
    </div>
    <div>
        <a href="/shows">Go Back</a>
    </div>
</body>
</html>