@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}
.nav-title {
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    padding-left: 30px;
    /* border-radius: 3px; */
    height: 70px;
}

.nav-links {
    display: flex;
    justify-content: left;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 25px;
}

ul {
    list-style-type: none;
    margin-left: 55%;
    margin-top: 30px;
}

li a {
    margin: 30px;
    color: white;
    text-decoration: none;
}

.btn {
    background-color: hsl(188deg 78% 41%);
    box-shadow: 2px 5px black;
    font-family: 'Ubuntu', sans-serif;
    width: 90px;
    height: 30px;
}

/* body {
    display: flex;
    justify-content: center;
    
} */

#main {
    /* width: 800px;
    height: 400px; */
    /* margin-top: 100px; */
    /* border: 3px solid gray; */
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 1200px;
    margin: 0% auto;
    /* justify-self: baseline; */
}

.head {
    background-color: hsl(188deg 78% 41%);
    width: 100%;
    height: 130px;
}

.info {
    font-family: 'Ubuntu', sans-serif;
    height: 250px;
    width: 800;;
    margin-left: 40px;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
}

img {
    width: 20px;
    height: 20px;
}

.pin-pic {
    width: 11px;
    height: 15px;
}

.mapCity{
display: flex;
align-items: stretch;
}

span {
    margin-left: 10px ;
}

.personalPic {
    width: 120px;
    height: 120px;
    position: relative;
    left: 40px;
    bottom: 60px;
    border: 3px solid gray;
    border-radius: 50%;
}

/* * {
    margin: 0;
    padding: 0;
} */

.personalInfo {
    /* width: 800px;
    height: 400px; */
    /* margin-top: 100px; */
    border: 3px solid gray;
    border-radius: 3px;
    display:flex ;
    flex-direction: column;
    /* width: 50%; */
    height: 500px;
}

.educationHeader {
    background-color: hsl(0deg 0% 20%);
    color: white;
    display: flex;
    padding-left: 30px;
    /* border-radius: 3px; */
    
}

.education {
    /* width: 800px;
    height: 400px; */
    /* margin-top: 100px; */
    border: 3px solid gray;
    border-radius: 3px;
    display:flex ;
    flex-direction: column;
    /* width: 50%; */
    height: 20%;
    margin-top: 5%;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    /* margin-top: 10px; */
    margin-left: 15px;
}

#number2 {
    background-color: gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    /* margin-top: 12px; */
    /* margin-right: 10px; */
    /* padding-left: 10px; */
}

.connection {
    /* width: 25%; */
    height: 200px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
}

.leftSide {
    width: 50%;
    margin-top: 3%;
    
}

.rightSide {
    width: 25%;
    margin-top: 3%;
}

.yourConnection {
       /* width: 25%; */
        height: 400px;
        border: 3px solid gray;
        margin-top: 7%;
    
}

.connectionHeader {
    background-color: hsl(0deg 0% 20%);
    color: white;
    display: flex;
    padding-left: 30px;
    /* border-radius: 3px; */
    
}

.yourConnectionHeader {
    background-color: hsl(0deg 0% 20%);
    color: white;
    display: flex;
    padding-left: 30px;
    /* border-radius: 3px; */
    
}

#p1 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 40px;
    font-size: larger;
}

#p2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: gray;
    margin-left: 40px;
}

#p3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    margin-left: 40px;
}

#number500 {
    background-color: gray;
    border-radius: 50%;
    width: 55px;
    height: 30px;
    /* text-align: center; */
    /* margin-top: 12px; */
    /* text-align: center; */
    /* margin-right: 10px; */
}

#n500 {
    /* margin: 15px 10px 0 0; */
    margin-top: 100px;
    /* text-align: center; */
}

.done-or-not {
    
    /* position: relative;
    left: 40px;
    bottom: 60px; */
    /* border: 3px solid gray; */
    /* border-radius: 50%; */
    /* margin-left: 25px;
    margin-top: 25px; */
    /* padding:0 10px; */
    /* display: flex; */
    

}

.userPic {
    width: 35px;
    height: 35px;
    /* margin-left: 25px;
    margin-top: 20px; */
}

.acceptClose {
    width: 35px;
    height: 35px;
    /* margin-left: 60px;
    margin-top: 20px; */
}

#Todd {
    /* width: 30px; */
    /* padding-left: 5px; */
    /* padding-bottom: 50px; */
    /* margin-top: 10px; */
    /* margin: 0 auto; */
    /* margin-left: 20px; */
    /* margin-top: 30px;
    /* margin-right: 0px; */
    margin: 5px 0 0 20px;
    /* margin-top: 5px; */
}

a {
    margin-left: 5px;
}

.icon-name {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}



.img-user {
    display: flex;
    justify-content: space-around;
}

/* .names {
    margin-left: 0px;
    padding: 20px;
} */

.pic-name {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin: 5px;
}

.icn {
    display: flex;
    justify-content: space-around;
    width: 110px;
    margin: 5px;
}

.imgUser {
    display: flex;
    margin: 30px 0 0 25px;
}

.more {
    margin-top: 10px;
    border-top: 3px solid gray;
    padding: 10px;
}

.view {
    margin-top: 70px;
}
